<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>电磁信息云服务</title>
</head>
<body>
    <div style="margin-top:100px;border:1px solid black">
        @ViewBag.mmmmm
        213434534545
    </div>
</body>
</html>